PORT=PYTHON_BACKEND_PORT
JWT_SECRET=your_super_secret_key_here
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=10080
INTERSWITCH_CLIENT_ID=your_sandbox_client_id
INTERSWITCH_SECRET_KEY=your_sandbox_secret
INTERSWITCH_BASE_URL=https://sandbox.interswitchng.com
ENERGY_ENGINE_URL=ASP.NET_BACKEND_URL
CLIENT_URL=FRONTEND_URL
